/* GENERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none !important;
}

.align-center {
    align-items: center;
}

.space-between {
   justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.bg-dark {
    background-color: #212121;
    color: #ffffffe6;
}


.bg-page {
    background-image: url("./img/bgPage.jpg");
    background-position: center;
    background-size: cover;
    color: #ffffffe6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.bg-home {
    background-image: url("./img/hero.jpg");
    background-position: center;
    background-size: cover;
    color: #ffffffe6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.text-white {
    color: #ffffffe6;
}

.text-center {
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.8);
}

.page-container {
    width: 80vw;
    margin: 0 auto;
    padding: 5vh 5vw;
}

/* NAVBAR */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
}

nav {
    padding: 1vh 10vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navList li {
    list-style-type: none;
    margin-left: 1vw;
    padding: 5px 20px;
    border-radius: 5px;
}

#navList li:hover {
    background-color: #ffffffe6;
    color: black;
    cursor: pointer;
}

.active {
    background-color: #ffffffe6;
    color: black;
    cursor: pointer;
}

.active:hover {
    background-color: #acacac !important;
}

/* MAIN */
section {
    min-height: calc(100vh - 44.3px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 60px;
    background-color:rgba(0, 0, 0, 0.7);
    color: #ffffffe6;
}

main h2 {
    text-align: center;
    font-size: 3em;
    padding: 2vh 0;
}

/* HOME */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home h1 {
    font-size: 5em;
    text-align: center;
}   

#home p {
    font-size: 2.2em;
    padding: 2vh 0;
    width: 70%;
}

#home button {
    padding: 2vh 4vw;
    border-radius: 30px;
    font-size: 1.3em;
    border-color: #ffffffe6;
    background-color: transparent;
    color: #ffffffe6;
    margin-top: 5vh;
}

#home button:hover {
    background-color: #ffffffe6;
    color: #212121;
    cursor: pointer;
}

/* ABOUT */
#about p {
    margin-bottom: 3vh;
} 

/* GALLERY */
#gallery .galleryLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 4vh;
    z-index: 2;
}

#gallery .galleryLayout img {
    width: 240PX;
    height: 190PX;
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.5s; 
    -webkit-transition-timing-function: ease; 
}

#gallery .galleryLayout img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* CONTACT */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    background-color: #ffffffe6;
    border: 1px solid #ccc; /* Gray border */
    border-radius: 10px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: darkcyan;
    width: 20vw;
    display: block;
    margin: 10px auto 0 auto;
    font-size: 1.2em;
    color: white;
    padding: 15px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    padding: 20px;
  }

/* FOOTER */
footer {
    padding: 15px;
}

footer p {
    font-size: 0.8rem;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #212121;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: darkcyan;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #212121;  /* creates padding around scroll thumb */
}

/* MODAL */
.image-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    display: none;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.modal-overlay {
    background-color:rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.image-modal span{
    color: #ffffffe6;
    position: absolute;
    right: 20vw;
    top: 10vh;
    font-size: 3rem;
    font-weight: 900;
    font-family:monospace;
}

.image-modal span:hover {
    cursor: pointer;
}

#modalImg {
    height: 70vh;
    z-index: 10;
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.75);
}